.PokemonDetail-wrapper{
    width: 300px;
    justify-content:space-evenly;
    height: 300px;
    text-align: center;
    text-transform: capitalize;
    margin: 20px auto;
    font-family: 'Courier New', Courier, monospaces;
    font-size: 18px;
    transition: transform 0.4s;

    

}
.PokemonDetail-wrapper img{
    width: 200px;
    
    max-height: 200px;

}
.PokemonDetail-wrapper:hover{
    border-radius: 10px;
    background-color: rgb(197, 229, 255);
    transform: scale(1.1);
}