.Pokemon-wrapper img{
    width: 200px;
    margin: 0px 80px;
    max-height: 200px;

}
.Pokemon-wrapper{
    width: 300px;
    justify-content:space-evenly;
    height: 300px;
    transition: transform 0.4s;
    border-radius: 10px;

    

}
.Pokemon-wrapper:hover{
    
    background-color: rgb(197, 229, 255);
    transform: scale(1.1);
    
}

.Pokemon-wrapper h2{
    text-transform: capitalize;
    
    color: black;
}

    
    
    
   
